<div *ngFor="let training of trainings">
    <div>
      <h3>{{ training.name }}</h3>
      <p>{{ training.description }}</p>
      <p>Max Capacity: {{ training.maxCapacity }}</p>
      <p>Duration: {{ training.duration }} hours</p>
      <p>Professor: {{ training.professor.name }}</p>
      <p>Status: {{ training.status }}</p>
  
      <!-- Boutons de suppression et édition -->
      <button (click)="deleteTraining(training.idForm)">Delete</button>
      <button (click)="editTraining(training.idForm)">Edit</button>
    </div>
  </div>
  