<div class="container">
  <h2>Add a New Training</h2>
  <form (submit)="onSubmit()">
    <div class="form-group">
      <label for="name">Training Name:</label>
      <input type="text" id="name" [(ngModel)]="training.name" name="name" required class="form-control">
    </div>

    <div class="form-group">
      <label for="description">Description:</label>
      <textarea id="description" [(ngModel)]="training.description" name="description" required class="form-control"></textarea>
    </div>

    <div class="form-group">
      <label for="duration">Duration:</label>
      <input type="number" id="duration" [(ngModel)]="training.duration" name="duration" required class="form-control">
    </div>

    <div class="form-group">
      <label for="studentsMaxCapacity">Students Max Capacity:</label>
      <input type="number" id="studentsMaxCapacity" [(ngModel)]="training.maxCapacity" name="studentsMaxCapacity" required class="form-control">
    </div>

    <!-- Affichage de l'erreur si la formation existe déjà -->
    <div *ngIf="errorMessage" class="alert alert-danger">
      {{ errorMessage }}
    </div>

    <button type="submit" class="btn btn-primary">Add Training</button>
  </form>
</div>
