<main class="main-content">
    <div class="admin-container">
      <!-- Header Row -->
      <div class="admin-header">
        <h1 class="admin-title">Posts</h1>
        <button></button>
  
        <!-- Notification Icon -->
        <div class="notification-container">
          <i class="notification-icon fas fa-bell"></i>
          <span></span>
        </div>
      </div>
  
      <!-- Search Bar -->
      <div class="search-section">
        <input type="text">
      </div>
  
      <!-- Posts Table -->
      <table class="admin-table">
        <thead>
          <tr>
            <th>Contenu</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr  >
            <td></td>
            <td>
              <div class="button-container">
                <button></button>
                <button></button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </main>
  